.profile {
  display: flex;
  /* align-items: center; */
  gap: 116px;
}

.profile__edit-button {
  border: none;
  cursor: pointer;
  color: #000000;
  font-weight: 700;
  margin-top: 24px;
}

.profile__signout-button {
  border: none;
  cursor: pointer;
  color: #000000;
  font-weight: 700;
  margin-top: 24px;
}

@media screen and (max-width: 960px) {
  .profile {
    display: block;
  }

  .profile__sidebar-container {
    display: block;
    text-align: center;
  }
}
